@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  display: none;
}

html {
  background: #f9fafb;
  overflow-x: hidden;
}

/* Dark Mode Background */
html .dark {
  background: #242a30;
}

.textShadow {
  letter-spacing: 1px;
  text-shadow: 2px 1.5px#5EBAB0;
}

.scrollhide::-webkit-scrollbar {
  display: none;
}

.hideoption {
  transform: translateX(-100%);
}

.animbox {
  animation: move 3s infinite linear;
}

.animbox2 {
  animation: move2 3s infinite linear;
}
.parentdiv {
  /* box-shadow: -15px -21px 188px 52px rgba(44, 126, 121, 0.52) inset;
  -webkit-box-shadow: -15px -21px 188px 52px rgba(44, 126, 121, 0.52) inset;
  -moz-box-shadow: -15px -21px 188px 52px rgba(44, 126, 121, 0.52) inset; */
}

@keyframes move {
  0% {
    opacity: 1;
    left: 0;
  }
  50% {
    opacity: 1;
    left: 100%;
  }
  51% {
    opacity: 0.5;
    left: 100%;
  }

  60% {
    opacity: 0;
    left: 100%;
  }
  100% {
    opacity: 0;
    left: 100%;
  }
}

@keyframes move2 {
  0% {
    opacity: 0;
    left: 0;
  }
  50% {
    opacity: 0;
    left: 0;
  }
  51% {
    opacity: 1;

    left: 0;
  }

  100% {
    opacity: 1;
    left: 100%;
  }
}

.imgBlur {
  /* filter: blur(); */
  /* mix-blend-mode: color-burn; */
}

.bestSale {
  -webkit-clip-path: polygon(100% 0, 100% 100%, 50% 72%, 0 100%, 0 0);
  clip-path: polygon(100% 0, 100% 100%, 50% 72%, 0 100%, 0 0);
}

.halfCircle {
  -webkit-clip-path: circle(50% at 100% 50%);
  clip-path: circle(50% at 100% 50%);
}

/* Let's get this party started */
.scrollStyle::-webkit-scrollbar {
  width: 5px;
  /* display: none; */
}

/* Track */
.scrollStyle::-webkit-scrollbar-track {
  display: none;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
.scrollStyle::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 100px;
  background: #ffffff;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.scrollStyle::-webkit-scrollbar-thumb:window-inactive {
  background: #b590c1;
}

.boxShadow {
  box-shadow: 2px 2px black;
  cursor: pointer;
}

/* .boxShadow:hover {
  box-shadow: none;
} */

/*  Gear Loading   */

#gear1,
#gear2,
#gear3 {
  color: #888;
  display: block;
  float: left;
  position: absolute;
}

#gear1 {
  top: 45px;
}

#gear2 {
  left: 60px;
}

#gear3 {
  top: 45px;
  left: 110px;
}

.spin {
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}

.spin-back {
  -webkit-animation: spin-back 4s linear infinite;
  -moz-animation: spin-back 4s linear infinite;
  animation: spin-back 4s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes spin-back {
  100% {
    -moz-transform: rotate(-360deg);
  }
}
@-webkit-keyframes spin-back {
  100% {
    -webkit-transform: rotate(-360deg);
  }
}
@keyframes spin-back {
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

.boxShadow {
  box-shadow: 2px 2px black;
  cursor: pointer;
}

.boxShadow:hover {
  box-shadow: 0px 0px white;
}

.CardShadow {
  box-shadow: 7px 7px black;
}

.bg {
  background-image: url(../assets/bg.png);
  background-size: 100%;
}
